table.infos th{ font-weight:normal; text-align:right; vertical-align:top; padding:2px}
table.infos2 th{ font-weight:bold; text-align:left; padding:2px}
table.infos2 td{ padding:2px;}
table.vam th{ vertical-align:middle!important}
table.infos td{ color:#666; vertical-align:top; padding:2px}
table.datalist{ width:1020px;  border:1px solid #ccc;border-collapse:collapse;}
.minetable.datalist thead tr{background:#ececec;}
table.datalist th{ height:40px; color:#333; border:1px solid #ccc; font-weight:normal; padding:0 3px; margin:0; white-space:nowrap; vertical-align:middle}
table.datalist td{ border:1px solid #ccc; margin:0; height:40px; padding:0 5px; vertical-align:middle; word-break:break-all; color:#666666;}
table.datalist thead tr{background:#ececec;}
table.datalist th{ height:40px; color:#333; border:1px solid #e3e3e3; font-weight:normal; padding:0 3px; margin:0; white-space:nowrap; vertical-align:middle}
table.datalist td{ border:1px solid #e3e3e3; margin:0; height:40px; padding:0 5px; vertical-align:middle; word-break:break-all; color:#666666;}
.theirstable.datalist a{ margin:0 1px; text-decoration:underline; color:#E90157;}
table.datalist tr:hover.odd td,table.datalist tr:hover.even td{ background-color:#dce7f5}
table.datalist tr.odd{ background-color:#fff}
table.datalist tr.even{ background-color:#f3f3f3}
table.datalist th.sortable span{ padding-right:12px; background-image:url(http://i1.mbscss.com/img/member/20120731/imgs.gif); background-repeat:no-repeat; cursor:pointer; background-position:right -362px; *background-position:right -364px}
table.datalist th.sortable.asc span{ background-position:right -386px;}
table.datalist th.sortable.desc span{ background-position:right -403px;}
table.datalist tr.odd td.orderby{ background-color:#f0f7ff}
table.datalist tr.even td.orderby{ background-color:#e6edf5}
table.datalist th.orderby{ background-position:0 -256px}
table.datalist tr.all td,table.datalist tr.all th{ background-color:#666; color:#fff}
table.datalist tr.title{ background-color:#e6edf5; font-weight:bold}
table.datalist tr.title td{ height:22px}
table.mutiheader thead th{ background:#f0f0f0!important; height:22px!important} 
table.mutiheader thead th.orderby{ background-color:#e0e7ef!important}


/*2013.04.02 add-star*/
table.nosamelist thead tr{background:#efefef}
table.nosamelist th{background:none;border-bottom:none;padding:0;}
table.nosamelist td{padding:0;height:auto;}
table.nosamelist td select{display:block;margin:0 auto;}
table.nosamelist tr:hover.odd td,table.nosamelist tr:hover.even td{background:none;}
.nodatalist .nosamelist td{border-top:1px dotted #ccc;border-right:1px dotted #ccc;border-bottom:none;border-left:none}

.nodatalist{width:790px;border:1px solid #ccc;margin-top:10px;}
table.nosamelist{width:792px;border:1px solid #ccc;border-collapse:collapse;}
.showlist{width:790px;overflow:hidden;}
.showlist table.nosamelist{float:left;width:610px;border:none;margin-top:-1px;height:115px;}
table.nosamelist td.myleft dl{width:395px;overflow:hidden;padding:6px 0;}


.nosamelist .myleft dl dt,.nosamelist .myleft dl dd{float:left;color:#323232;}
.nosamelist .myleft dl dd{width:324px;}
.nosamelist .myleft dl .leftp{width:380px;}
.nosamelist .myleft dl dt{padding-left:15px;width:40px;}.nosamelist .myleft dl dd{padding-left:16px;}
.nosamelist .myleft dl dt a img,.nosamelist .myleft dl dt a{display:block;}
.nosamelist .myleft dl p.yourcho{color:#808080;}
.nosamelist .myleft dl p.yourcho span{padding-right:10px;}
.nosamelist .myleft dl p.yournum{color:#e50065}
.nosamelist .myleft dl p.yournum .cicon{padding-left:12px;margin-left:5px;background:url(http://i0.mbscss.com/img/member/20130402/c.jpg) no-repeat left 6px;}
.nosamelist .myleft dl p span{display:inline-block;line-height:18px;overflow:hidden;}
.nosamelist .myleft dl p span b{font-weight:normal;color:#e50163}
.nosamelist .myleft dl p span.thetalk{width:200px;white-space:nowrap;text-overflow:ellipsis;}
.showlist .nosamelist .myleft dl p span.thetalk{width:300px;}

.th_way p,.tk_way p{width:792px;overflow:hidden;padding-top:16px;color:#333;}
.th_way p span,.tk_way p span,.th_way p label{float:left;line-height:22px;}
.th_way p span{padding-right:3px;}
.th_way p label{width:84px;overflow:hidden;}
.th_way p label input{float:left;width:15px;height:15px;overflow:hidden;margin-top:3px;}
.xiug_btn{width:228px;overflow:hidden;margin:0 auto;padding-top:30px;}
.xiug_btn button{float:left;width:95px;height:27px;overflow:hidden;margin:0 8px;border:none;background:none;}
.xiug_btn button img{display:block;}

.godoor{position:relative;width:758px;border:1px solid #ccc;padding:10px 16px;margin-top:7px;}
.godoor label input{float:left;width:15px;height:15px;overflow:hidden;margin:3px 8px 0 0;}
.godoor label{width:758px;overflow:hidden;display:block;height:24px;line-height:24px;}
.godoor label input,.godoor label span{float:left;line-height:22px;}
.godoor img{display:block;width:11px;height:7px;position:absolute;top:-7px;left:178px;}
.th_way p a,.th_way p a:hover,.cutmain p a,.cutmain p a:hover{color:#e30165;text-decoration:underline;}
.tblabel label{width:610px;display:inline;}

.txt .cut{width:1020px;height:30px;padding:14px 20px 4px;}
.txt .cut span{display:inline-block;padding:0 5px;height:23px;margin-right:5px;line-height:23px;text-align:center;color:#323232;}
.txt .cut span.on{color:#000;font-weight:bold;}
/*.txt .cut span.cut1{background:url(http://i0.mbscss.com/img/member/20130515/no_shop_r3.jpg) repeat-x;border:1px solid #da2061; }
.txt .cut span.cut2{background:url(http://i0.mbscss.com/img/member/20130515/no_shop_w3.jpg) repeat-x;border:1px solid #cfcfcf;}
*/
.txt .cut span.cut1,.txt .cut span.cut2{font-size:14px;}

.cutmain{width:750px;border:1px solid #dbdbdb;padding:0 20px 10px;color:#333;background:#fafafa;}
.cutmain p{line-height:24px;}
.cutmain .season{width:750px;height:48px;margin-bottom:17px;line-height:48px;font-size:14px;border-bottom:1px dashed #cbcbcb}

.seelist{float:left;width:178px;}
.seelist a{display:block;width:92px;height:25px;margin:10px auto 0;color:#e50062;line-height:25px;text-align:center;}
.seelist a.tuih{color:#fff;background:url(http://i0.mbscss.com/img/member/20130402/no_shop_r.jpg) no-repeat;}
/*2013.04.02 add-end*/


table caption{ padding:10px 0 5px}
table.putform{ border-collapse:collapse}
table.putform td,table.putform th{ padding:5px 0; vertical-align:top}
table.putform th{ font-weight:normal; text-align:right; padding-top:8px; white-space:nowrap}
table.putform.text th{ padding-top:5px}
table.putform td{ padding-left:10px; color:#333}
table.putform td input.txt{ color:#666}
table.putform td.nes{ background:url(http://i1.mbscss.com/img/member/20120731/ico_nes.gif) no-repeat left 10px}
div.nes{ background:url(http://i1.mbscss.com/img/member/20120731/ico_nes.gif) no-repeat left center; padding-left:10px}
table.putform span.nes{background:url(http://i1.mbscss.com/img/member/20120731/ico_nes.gif) no-repeat left center; padding-left:10px}
table.putform tr.hasError th,table.putform tr.hasError td{ background-color:#ffeaea; border:1px solid #c00}
table.putform tr.hasError th{ border-right:none}
table.putform tr.hasError td{ border-left:none}

table.gridtable { border-collapse:collapse; cursor:default}
table.gridtable tbody th{ text-align:right; border:1px solid #ccc; background-color:#eaeaea; padding:3px; font-weight:normal}
table.gridtable tbody td{ text-align:right; border:1px solid #ccc; padding:3px 3px 3px 10px; color:#333}
table.gridtable tbody tr:hover th,table.gridtable tbody tr:hover td{ background-color:#dce7f5}

table.vam td,table.vam th{ vertical-align:middle!important}

.tacenter{ text-align:center!important}
.taleft{ text-align:left!important}
.taright{ text-align:right!important}

.wm{ width:140px}
.wl{ width:200px}
.ws{ width:40px}
.w100{ width:100px}
.w11{ width:11px}
.w110{ width:110px}
.w13{ width:13px}
.w150{ width:150px}
.w30{ width:30px}
.w350{ width:350px}
.w400{ width:400px}
.w500{ width:500px}
.w550{ width:550px}
.w60{ width:60px}
.w80{ width:80px}
.w800{ width:800px}
.w700{ width:700px}
.wauto{ width:auto!important}
.wp10{ width:10%}
.wp100{ width:100%}
.wp12{ width:12%}
.wp15{ width:15%}
.wp20{ width:20%}
.wp33{ width:33.3%}
.wp48{ width:48%}
.wp5{ width:5%}
.wp15{ width:15%}
.wp50{ width:50%}
.wp6{ width:6%}
.wp7{ width:7%}
.wp8{ width:8%}
.wp9{ width:9%}

.pagelist { text-align:right; padding:5px; color:#000; cursor:default}
.pagelist a:link,.pagelist a:visited, .pagelist span{padding: 1px 3px 1px 3px;margin: 2px;text-decoration: none;min-width:12px;_width:12px;text-align:center;color:#2b5591;}
.pagelist a:hover{ background-color:#dedede}
.pagelist span{ color:#999}
.pagelist .currentPage{ font-weight:bold; color:red!important;}
.pagelist .txtp{ width:25px}

input.txtp{ height:16px; padding:2px 0 0; overflow:hidden; border:1px solid #999; background:url(http://i1.mbscss.com/img/member/20120731/imgs.gif) repeat-x left -447px; overflow:hidden; margin-right:5px}

.number{ ime-mode:disabled}

input.btn{ 
	overflow: visible;
	width: auto;
	cursor: pointer;
	border: medium none;
	line-height: 20px;
	height: 20px;
	background: transparent none repeat scroll 0% 0%;
	margin: -6px;
	color: #E70A69;
}
input.btn_save{
	border:1px solid #E50065;
	height:38px;
	width:186px;
	font-size:14px;
}
/*保存地址*/

label.error{ background:url(http://i1.mbscss.com/img/member/20120731/error.gif) left center no-repeat; padding-left:20px; color:#900;}
label.success{ background:url(http://i1.mbscss.com/img/member/20120731/ok.gif) left center no-repeat; padding-left:20px; color:#390;}
   .pw_form {
        clear: both;
        margin: 0 auto;
        width: 476px;
    }
    .pw_form ul {
        float: left;
        list-style: none outside none;
        padding: 25px 0 0 26px;
        width: 450px;
    }
    .pw_form ul li {
        background: url("http://i0.mbscss.com/img/login/20120731/u_b_sanjiao.gif") no-repeat scroll 0 7px transparent;
        float: left;
        margin-bottom: 10px;
        padding-left: 10px;
        width: 440px;
    }
    .pw_form ul.inp li {
        background: none repeat scroll 0 0 transparent;
        float: left;
        margin-bottom: 25px;
        padding-left: 10px;
        width: 580px;
    }
    .pw_form ul.inp li.s_bt {
        float: left;
        line-height: normal;
        margin-bottom: 20px;
        padding-left: 80px;
        width: 300px;
    }
    .pw_form ul.inp span.tit {
		float:left;
		line-height:30px;
		margin-right:10px;
    }
    
    .pw_form ul.inp span.inp {overflow:hidden;  
        float: left;
    }
    .inp img{height:22px;float:left;}
	.pw_new {
        clear: both;
        height: 140px;
        margin: 40px auto 0;
        padding-bottom: 60px;
        width: 480px;
        text-align: center;
    }
    .pw_new dl {
        float: left;
        width: 330px;
    }
    .pw_new dl dt, .pw_new dl dd {
        color: #565656;
        font-size: 12px;
        width: 330px;
		margin-bottom:30px;
    }
    .pw_new dl dd {
        line-height: 30px;
        padding-top: 23px;
    }
    .pw_new dl dt b {
        font-size: 16px;
    }
    .pw_new dl dd b {
        color: #D1023A;
        font-family: 'arial';
        font-size: 18px;
    }
    .pw_new dl dd a {
        color: #D1023A;
        text-decoration: underline;
    }
     .disabledinp
    {
        border-color:#AAAAAA #DDDDDD #DDDDDD #AAAAAA;border-width:1px;border-style:solid;-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none;-moz-border-top-colors: none;
    }
    #globalsitemsg{color:#747474;display:inline-block;overflow: hidden;vertical-align: middle; background:url(http://images.moonbasa.com/img/xiaoxibg.gif) no-repeat 0 -2px; padding-left:10px;}

input.input{ border: #cdcdcd solid 1px; height:13px; padding:3px 2px 2px 2px; width:200px; background:#ffffff;float:left;} .pw_form ul.inp span.inp a{float:left;}
.mymbszht{background:url(http://i1.mbscss.com/img/member/20120731/zft.jpg) no-repeat scroll left 4px transparent;padding:0 0 0 20px;}

div.dlphone{height:26px; width:248px;background:url('http://i1.mbscss.com/img/member/20130409/dd.gif') no-repeat scroll 0 0 transparent;line-height:29px;z-index:9999;position:absolute;bottom:-25px;left:10px;}
a.aclose{color:#444; padding-left:5px;}
div.r-mobile{float:left;padding-bottom:25px;}

/*add 2015.06.30 */
.modef_addr1 a{
	display:block;
	width:188px;
	height:30px;
	background:#E50065;
	color:#fff;
	text-align:center;
	font-size:14px;
	padding-top:10px;
}

.myaclass a
{
    display:inline;
    background:#fff;
    color:#E50065;
    font-size:12px;
    
    
}

.add-middle-1,.add-middle-2{
	display:none;
}

#btnActive{
	width: 146px;
	height: 36px;
	margin-left: 45px;
	background: #E50065;
	color: #fff;
	font-size: 14px;
}

/****收藏商品单件的样式*****/
.col-nav{
	font-size:14px;
	font-weight:100;
}

.nav-onfocus{
	font-weight:bold;
}

.col-seek{
	float:right;
	width:210px;
	height:30px;
	margin-right:30px;
}

.search-box{
	width: 110px;
	height: 24px;
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	padding: 0px 10px;
	color:#B8B8B8;
	line-height:24px;
}

.col-subbtn{
	width:67px;
	height:26px;
	background:#E50065;
	color:#fff;
	border: none;
}

.col-container-bi{
	overflow:hidden;
	float:left;
	height:317px;
	width:192px;
	overflow:hidden;
	margin-left:16px;
	margin-bottom:15px;
}

.col-index{
	width:190px;
	height:315px;
	position:absolute;
	border:1px solid #fff;
}

.col-bi-icon{
	position:absolute;
}

.col-describe{
	text-align:center;
	width:95px;
	height:23px;
	position:absolute;
	background-color:#E50065;
	color:#fff;
	bottom:0px;
	background-color:rgba(229,0,98,0.6);
	font-size:12px;
	padding-top:3px;
	bottom:55px;
	cursor:pointer;
	
}

.col-pro-info{
	color: #8d8d8d;
    font-family: "微软雅黑";
    font-size: 12px;
    margin-top: 8px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
	
}

.col-pro-price{
	font-family:simsun;
	font-size:12px;
	text-align:center;
	margin-top:2px;
	color:#E50067;
}

.col-price-icon{
	font-weight:bold;
	color:#E50067;
}

.col-price-num{
	font-size:14px;
}

.col-current-price{
	margin-right:5px;
}

.col-original-price{	
	color:#CDCBCD;
}
/****收藏商品单件的样式*****/


/****收藏品牌单件的样式*****/
.col-brand-frame-off
{
    height:260px;
    width:333px;
    border:1px solid #fff;
    margin-left:12px;
    margin-bottom:20px;
    float:left;
}

.col-brand-frame-off:hover
{
    border:1px solid #E50065;
}

.brand-frame-img
{
    width:333px;
    height:193px;
    border-bottom:1px solid #E9E9E9;
    position:relative;
    
}
.cor-brand-del
{
    height:23px;
    width:70px;
    background:#E50065;
    color:#fff;
    text-align:center;
    font-size:14px;
    position:absolute;
    bottom:0px;
}

.brand-intro-btn
{
    height: 23px;
    width: 65px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #FFF;
    padding-left: 5px;
    background: rgba(0, 0, 0, 0.5) url("http://i1.mbscss.com/img/vip/2014/06/10/ppjt.gif") no-repeat scroll 95% 48%;
}		


.barnd-frame-intro
{
    width:310px;
    height:66px;
	padding:10px 8px;
}

.barnd-frame-intro p span {
	float:right;
	color:#FE465F;
}

/****收藏品牌单件的样式*****/