#box {
	height: 477px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#box img {
	position: absolute;
	display: block;
	left: 0;
	border-left: 1px solid #ccc;
}