@import "base/base";

#cart-page{
  .cart-tit {position: absolute; overflow: hidden; width: 100%;
    height: 50px; line-height: 50px; top: 0px; left: 0; background-color: #ccc; }


  .scroll-wrap  {@extend %position; overflow: hidden; top: 50px; bottom: 0; background-color: #fff;}

  .cart-empty { text-align: center; line-height: 50px; font-size: 20px;}
  .cart-list { overflow: hidden; @extend %position; min-height: 100px}
  .cart-list .item { padding: 10px; height: 110px; border-bottom: 1px solid #ccc}
  .cart-list  img { width: 90px; height: 90px; float: left;}
  .cart-list .item-cont { float: left; margin: 0 6px; line-height: 20px;
    width: -webkit-calc(100% - (90px + 60px));
    width: calc(100% - (90px + 60px) );}
  .cart-list .item-name { height: 40px}
  .cart-list .item-num {}
  .cart-list .item-price {}
  .cart-list .item-delete { float: right; text-align: center;line-height: 60px; margin-right: -6px;  width: 40px;}
  .calc-num { height:30px; /*position: absolute; top: 100px; left: 0;*/ }
  .calc-num .button { text-align:center;width: 28px; line-height: 22px; display: inline-block;
    background-color: #666; border-radius: 4px; color: #fff}
  .calc-num  input { border: 1px solid #eee;border-radius: 4px;line-height: 22px; height: 20px;
    width: 34px; box-shadow: inset 1px 1px 1px rgba(0,0,0,.6);text-align: center;}

}
