@import "classes";

$contentBg:#f3eff0; /*内容的背景色*/

/*作用不很多*/
$maxFont:18px;
$bigFont:16px;
$midFont:14px;
$smFont:12px;

$redColor:#a90506;
$lightenRed:#d70909;

$footerColor:#484850;/*底部的颜色*/

$btnColor:#fff; /*按钮的字体颜色*/
$fontColor:#3a3a3a; /*普通字体颜色*/
$lightenFontColor:#878787; /*变亮的字体颜色*/



%position{position: absolute; top:0; left: 0; width: 100%;}


@mixin button($height:46px,$startColor:$lightenRed,$endColor:$redColor){
  color: $btnColor;
  width: 100%;
  display: block;
  font-size:$bigFont;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 5px;
  height: $height; line-height: $height - 2px; box-shadow: 1px 1px 2px rgba(0,0,0,.3),inset 0 0 1px rgba(255,255,255,.3);
  background: $startColor; /* Old browsers */
  background: -webkit-linear-gradient(top, $startColor 0%,$endColor 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $startColor 0%,$endColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

